<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between stretch" style="margin: 20px">
  <div style="margin-bottom: 10px;" fxFlex="24" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'danger'" [icon]="'bookmarks'" [count]="13" [label]="'New Tickets!'"></app-stat>
  </div>
  <div style="margin-bottom: 10px;" fxFlex="24" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'warn'" [icon]="'view_list'" [count]="12" [label]="'New Task!'"></app-stat>
  </div>
  <div style="margin-bottom: 10px;" fxFlex="24" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'success'" [icon]="'shopping_cart'" [count]="124" [label]="'New Orders!'"></app-stat>
  </div>
  <div style="margin-bottom: 10px;" fxFlex="24" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'info'" [icon]="'contact_support'" [count]="13" [label]="'New Tickets!'"></app-stat>
  </div>
</div>
<div style="height: 300px;">

</div>