<mat-card [ngClass]="bgClass" style="color: white; text-align: center;">
  <mat-card-header style="width: 100%; margin-bottom: 20px;">
    <div mat-card-avatar>
      <mat-icon>{{icon}}</mat-icon>
    </div>
    <mat-card-title style="color: white; font-size: 20pt; text-align: right;">{{count}}</mat-card-title>
    <mat-card-subtitle>{{label}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button style="float: right">View Details</button>
  </mat-card-actions>
</mat-card>